<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
   <key>Label</key>
   <string>com.network.alias</string>
   <key>ProgramArguments</key>
   <array>
        <string>ifconfig</string>
        <string>lo0</string>
        <string>alias</string>
        <string>10.254.254.254</string>
        <string>255.255.255.0</string>
	</array>
   <key>RunAtLoad</key>
   <true/>   
   <key>StandardOutPath</key>
   <string>/var/log/com.network.alias.log</string>
   <key>StandardErrorPath</key>
   <string>/var/log/com.network.alias.log</string>
   <key>Debug</key>
   <true/>
 </dict>
</plist>
