name: build-opensearch-2-12

on: workflow_dispatch

jobs:
  opensearch-2-5:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          ref: release/next
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: images/opensearch/2.12
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            markoshust/magento-opensearch:2.12
            markoshust/magento-opensearch:2.12-0
