name: build-rabbitmq

on: workflow_dispatch

jobs:
  rabbitmq-3-9:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: images/rabbitmq/3.9
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            markoshust/magento-rabbitmq:3.9
            markoshust/magento-rabbitmq:3.9-0
