name: build-elasticsearch-8-7

on: workflow_dispatch

jobs:
  elasticsearch-8-5:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: images/elasticsearch/8.7
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            markoshust/magento-elasticsearch:8.7
            markoshust/magento-elasticsearch:8.7-0
